---
http_interactions:
- request:
    method: get
    uri: http://eservices2.warringah.nsw.gov.au/ePlanning/Public/XC.Track/SearchApplication.aspx?d=last14days&o=xml&t=DevApp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>603341</ApplicationId>\r\n
        \   <ApplicationType>Development Application</ApplicationType>\r\n    <NatureOfApplicationType>AltAddDA</NatureOfApplicationType>\r\n
        \   <NatureOfApplication>Alterations and Additions</NatureOfApplication>\r\n
        \   <ReferenceNumber>DA2013/1014</ReferenceNumber>\r\n    <ReferenceNumberYear>2013</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>1014</ReferenceNumberNumber>\r\n    <EstimatedCost>228000.000000</EstimatedCost>\r\n
        \   <Decision>Application Lodged</Decision>\r\n    <StatusText>Application
        Lodged</StatusText>\r\n    <Status>AppLodged</Status>\r\n    <Current>C</Current>\r\n
        \   <LodgementDate>2013-08-27T16:28:40.057+10:00</LodgementDate>\r\n    <AuthorityParty>Delegated
        Authority</AuthorityParty>\r\n    <ApplicationDetails>Alterations and Additions</ApplicationDetails>\r\n
        \   <OfficerTitle>Development Assessment Officer</OfficerTitle>\r\n    <RequestWithdraw>N</RequestWithdraw>\r\n
        \   <DADays>1</DADays>\r\n    <DateToday>28/08/2013</DateToday>\r\n    <ApplicationIdS>603341</ApplicationIdS>\r\n
        \   <Determination>\r\n      <ApplicationId>603341</ApplicationId>\r\n      <AuthorityParty>Delegated
        Authority</AuthorityParty>\r\n      <ApplicationIdS>603341</ApplicationIdS>\r\n
        \   </Determination>\r\n    <Address>\r\n      <PropertyId>114453</PropertyId>\r\n
        \     <ApplicationId>603341</ApplicationId>\r\n      <AssessmentId>32278-8</AssessmentId>\r\n
        \     <ParcelId>14899</ParcelId>\r\n      <Status>C</Status>\r\n      <UnitNumber>0</UnitNumber>\r\n
        \     <StreetNumber1>22</StreetNumber1>\r\n      <StreetNumber2>0</StreetNumber2>\r\n
        \     <StreetName>Grace Avenue</StreetName>\r\n      <StreetType />\r\n      <LocalityName>FRENCHS
        FOREST</LocalityName>\r\n      <Postcode>2086</Postcode>\r\n      <CountryName>Australia</CountryName>\r\n
        \     <StateTerritory>NSW</StateTerritory>\r\n      <Ward>C</Ward>\r\n      <Line1>22
        Grace Avenue</Line1>\r\n      <Line2>FRENCHS FOREST NSW 2086</Line2>\r\n      <FullLegalDescription>Lot
        75 DP 20461</FullLegalDescription>\r\n      <Area>923.200000</Area>\r\n      <AreaUnits>SqM</AreaUnits>\r\n
        \     <WLEP2000>0</WLEP2000>\r\n      <LandAssoc>RamPrLand</LandAssoc>\r\n
        \     <ApplicationIdS>603341</ApplicationIdS>\r\n    </Address>\r\n    <Party>\r\n
        \     <Notes />\r\n      <ApplicationId>603341</ApplicationId>\r\n      <PartyId>9047</PartyId>\r\n
        \     <PersonId>9047</PersonId>\r\n      <PropertyId>603341</PropertyId>\r\n
        \     <FamilyName>Chessell</FamilyName>\r\n      <GivenName>Stephen John</GivenName>\r\n
        \     <Gender>M</Gender>\r\n      <Title>Mr</Title>\r\n      <PartyRole>Applicant</PartyRole>\r\n
        \     <FullName>Stephen John Chessell</FullName>\r\n      <EmailAddress>sjchess@hotmail.com</EmailAddress>\r\n
        \     <MobileNumber>0418 414 009</MobileNumber>\r\n      <ServiceAd>Y</ServiceAd>\r\n
        \     <Barcode>1301011022112211012001333021100230213</Barcode>\r\n      <Line1>22
        Grace Avenue</Line1>\r\n      <Line2>FRENCHS FOREST NSW 2086</Line2>\r\n      <Private>N</Private>\r\n
        \     <Address>22 Grace Avenue FRENCHS FOREST NSW 2086</Address>\r\n      <TotalAssocs>4</TotalAssocs>\r\n
        \     <HasServiceAd>2</HasServiceAd>\r\n      <ApplicationIdS>603341</ApplicationIdS>\r\n
        \   </Party>\r\n    <Party>\r\n      <Notes />\r\n      <ApplicationId>603341</ApplicationId>\r\n
        \     <PartyId>9047</PartyId>\r\n      <PersonId>9047</PersonId>\r\n      <PropertyId>603341</PropertyId>\r\n
        \     <FamilyName>Chessell</FamilyName>\r\n      <GivenName>Stephen John</GivenName>\r\n
        \     <Gender>M</Gender>\r\n      <Title>Mr</Title>\r\n      <PartyRole>Applicant</PartyRole>\r\n
   [...]
